.logo-beta {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 26px;
    right: -35px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 150px;
    background-color: #008cba;
    color: #fff;
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
    z-index: 10;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.logo {
  margin: 5px;
}

.btn-inverse {
  background-color: whitesmoke;
  color: back;
  border: 2px solid whitesmoke;
  padding: 20px 30px;
  font-size: 2rem;
}

.btn-inverse:hover {
  background-color: transparent;
  color: whitesmoke;
}

.site-example h4 {
  margin-bottom: 15px
}

.site-example img {
  margin-bottom: 15px
}

.site-example p {
  margin-bottom: 15px
}

.site-example img {
  opacity: 0.5
}

.site-example img:hover {
  opacity: 0.9
}

#mailAdress {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: x-large;
  font-weight: bold;
}
